[2018-08-06 06:51] banbanandroid opened #3 "why not support for cpu cluster?"
I dont't have a gpu cluster but cpu, and why not support for cpu cluster?

[2018-08-06 08:05] cheyang commented on #3
It can also support cpu cluster. You don't have to specify `--gpu` when you don't need GPU.

[2018-08-06 12:56] xiechengsheng commented on #3
But in cpu cluster we couldn't see any cpu information(total/allocated) in `top` command :scream:

[2018-08-07 00:56] cheyang commented on #3
Thanks for reporting it. It will support later. And your contributions are also welcome!

[2018-08-07 00:57] cheyang opened #5 "Support CPU/Memory stats in `top`"
To fix #3

[2018-08-07 03:05] cheyang commented on #5
@GarnettWang , would you like to pick up this task? Thanks.

[2018-08-07 07:24] ydp opened #6 "support for distributed tensorflow estimator"
Aliyun guru, can you please kindly support run distributed tensorflow estimator, typical usage can be found here [estimator train and evaluate](https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate)

Key difference from raw API is that estimator must have chief node(worker 0), and suggested to have evaluator node.

In our practice, we have ps, worker, chief and evaluator.

Tha

[2018-08-07 08:38] xiechengsheng commented on #3
Hi @cheyang , I have deployed arena successfully on my small cpu cluster, but the `tf-job` always failed on my cluster, here is the reproduce step:
[code]
5. it seems that arena hasn't implemented describe command yet, so I can't get concrete failing reason. :cry:
I don't konw how to solve this probelm, any help will be appreciated!

[2018-08-07 09:08] xiechengsheng commented on #5
Hi there, I would like to take this. 😆

[2018-08-07 09:12] cheyang commented on #3
Try `kubectl describe po tf-git5-tfjob-worker-0` to see why the pod is not started successfully.

[2018-08-07 11:07] nowbug opened #8 "error validating data: ValidationError(CustomResourceDefinition.spec): missing required field "scope""
阿里的大牛你好，我是一个新手，当我使用安装文档时
 kubectl create -f arena/kubernetes-artifacts/tf-operator/tf-operator.yaml

遭遇了错误，以下是错误日志，我猜测可能是我环境有问题，不知道能否给出一些建议。
configmap/tf-job-operator-config created
serviceaccount/tf-job-operator created
clusterrole.rbac.authorization.k8s.io/tf-job-operator created
clusterrolebinding.rbac.authorization.k8s.io/tf-job-operator created
clusterrole.rbac.authorization.k8s.io/tf-job-das

[2018-08-07 11:09] nowbug commented on #8
我是本地虚拟机搭建 centos7.3+kubernetes1.11

[2018-08-07 13:16] cheyang commented on #3
I guess it's failed to download source code from git.

[code]

You can check logs by using `kubectl logs tf-git5 -c init-code`.

[2018-08-07 13:20] cheyang commented on #8
Kubernetes 1.11对于CRD的校验比较苛刻，你可以先尝试一下1.10或者1.9的Kubernetes。我也会给tf-operator开issue，追踪一下这个问题。

[2018-08-08 01:02] nowbug commented on #8
感谢，我会尝试使用1.10 or 1.9 再次尝试，这个项目真的很赞。

[2018-08-08 03:08] cheyang commented on #8
谢谢，你可以直接在https://www.katacoda.com/courses/kubernetes/playground上测试。也欢迎您提issue和贡献代码。

[code]

[2018-08-08 08:12] banbanandroid commented on #3
I have the same problem as @xiechengsheng , my k8s version is 1.11.0.

[code]
[code]
But later I deployed arena on [playground](https://www.katacoda.com/courses/kubernetes/playground) and it worked fine! The only difference is that the playground's k8s version is 1.10.0, and maybe the network of the playground is better than my cluster?

[2018-08-08 08:15] banbanandroid commented on #3
It seems the reason failing to download source code from git is right 😢
[code]

[2018-08-08 09:58] cheyang commented on #3
Looks like it's connection issue between your machine and github.com. You can try https://www.katacoda.com/courses/kubernetes/playground  . I think there will be no connection issue.

[2018-08-08 10:16] xiechengsheng commented on #3
Yes, after fixing my kube-dns component problem, tf job runs successfully, thanks!

[2018-08-08 11:37] cheyang commented on #3
Ok, I will close this issue first, and track with #5

[2018-08-08 11:37] #3 closed

[2018-08-08 13:02] xieydd opened #9 "Support MPI Job?"
I see mpijob in docs but i didn`t see the mpi demo?
Doesn`t support yet?

[2018-08-08 15:14] banbanandroid opened #10 "kubernetes-dashboard can't be created"
in the arena-system namespace the pod kubernetes-dashboard can't be created successfully, it seems the image cloud not be pulled
[code]
[code]

[2018-08-08 22:13] cheyang commented on #10
You can change `registry-vpc.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/kubernetes-dashboard-amd64:v1.6.0` to `registry.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/kubernetes-dashboard-amd64:v1.6.0` manually first. We will fix it. Thanks for reporting it.

[2018-08-09 02:12] GarnettWang opened #12 "Arena should support serve model online with tensorflow serving"
Arena should support serve model online with tensorflow serving.

`arena sumbit serving --name=xxx ...` can deploy tensorflow serving instance with needed model_server config, and auto create corresponding service, ingress.

`arena get serving xxx` can display the serving instance info, include the exposed endpoint info for grpc client.

[2018-08-09 02:26] GarnettWang opened #13 "arena should support gang schedule for TFJob"
when user submit TFJob(kubelow/tf-operator) batch jobs with arena,  we should guarantee  `all or nothing` to avoid wasting resources when the cluster is hunger, especially for the expensive gpus.

[2018-08-09 02:30] GarnettWang opened #14 "arena should support gang schedule for MPIJob"

[2018-08-09 03:16] #10 closed

[2018-08-09 03:19] cheyang opened #15 "Add MPIJob"
Arena should be able to submit MPIJob whose backend is MPIOperator.

[2018-08-13 06:14] GarnettWang opened #18 "tfserving job support custom version policy"
**serve single model in a tfserving instance:**

[code]

---

**serve multi model in a tfserving instance:**

[code]

 my-model-config-file's content will set to tensorflow serving --model-config-file flag, Sample:

[code]

[2018-08-13 06:20] GarnettWang opened #19 "tfserving job support model stored on external hdfs cluster"
Currently, `arena submit tfserving` only support model data stored through pv/pvc.

We should support that model data stored on external HDFS cluster.

[2018-08-13 06:35] GarnettWang opened #20 "sub-command to display tensorflow serving jobs list and details info"
- `arena list tfserving` : display tensorflow serving jobs list;

- `arena describe tfserving $name` : display the tensorflow serving job detail infos, include resource info, ingress info, replicas info, etc.

[2018-08-16 02:54] #15 closed

[2018-08-19 02:47] cheyang opened #23 "Add owner file"

[2018-08-20 16:14] cheyang opened #24 "Make TFJob in bin pack mode"
Need to schedule the workers and PS in binpack mode rather spread as default mode. [TFJob #781](https://github.com/kubeflow/tf-operator/issues/781#issuecomment-414180859)

[2018-08-22 03:27] xieydd opened #27 "Why we set horovodjob`s sshport default is 33?"
A litter confuse about sshport

[code]

[2018-08-22 03:50] cheyang commented on #27
Because it's using hostNetwork by default, and we have to avoid conflict the default host port 22. I suggest you to use mpijob which can cover the horovodjob capabilities and don't use sshport for communication.

[2018-08-22 03:50] #8 closed

[2018-08-22 03:51] cheyang commented on #23
Fixed by  #26

[2018-08-22 03:51] #23 closed

[2018-08-22 04:56] xieydd commented on #27
If i want to use calico newwork , horovodjob or mpijob? @cheyang

[2018-08-22 06:08] cheyang commented on #27
Yeah, MPI job supports other framework.

[2018-08-22 06:10] xieydd commented on #27
@cheyang So horovodjob will be discarded in the future? Thanks a lot .

[2018-08-22 06:20] wsxiaozhang opened #28 "Extend arena to support for training dataset or model storage management"
It should be helpful for data scientists to use command like "arena create data imagenet-full" to create, index and manage different training datasets for different training jobs.
Then when use arena submit training job, the "imagenet-full" can be passed in as parameter "data" directly.
The data actually can be a pointer to specific PVC or hdfs path, etc. It's easy to use 'data' to manage and reco

[2018-08-22 06:47] wsxiaozhang opened #29 "Use arena to create a single node model development box"
besides submit training jobs, user also wants to create a development box which contains jupyter, math lib, frameworks, in order to dev and debug algorithms before starting to train in cluster. It's better to have GPU enabled  as well

[2018-08-22 07:07] banbanandroid opened #30 "error: ValidationError(CustomResourceDefinition.spec): missing required field "scope""
this is for Closed issues #8

I think we can add scope filed valued "Namespaced" to CustomResourceDefinition part for TFJOB in the ```tf-operator.yaml``` and I find ksonnet makes it to Namespaced automatically , like below, we just add it [here](https://github.com/AliyunContainerService/arena/blob/master/kubernetes-artifacts/tf-operator/tf-operator.yaml#L208)
[code]
this will solve the problem for

[2018-08-22 07:37] cheyang commented on #27
Yeah. It will be deprecated when MPI operator is stable.

[2018-08-22 07:39] cheyang commented on #30
Thank you, @banbanandroid . Would you like to open a PR to fix this?

[2018-08-22 08:39] banbanandroid commented on #30
@cheyang ok I will take this

[2018-08-22 09:03] #27 closed

[2018-08-22 11:39] cheyang commented on #30
Thanks for your great contribution!

[2018-08-22 11:39] #30 closed

[2018-08-22 11:39] #24 closed

[2018-08-23 07:25] xieydd opened #32 "MPIjob Error"
When I run demo , i meet a problem?
[code]

Shoud I deployment kubeflow advanced? @cheyang

[2018-08-23 09:44] cheyang opened #33 "support `arena get --details` for debugging Job pending issue"
WDYT， @wsxiaozhang

[2018-08-23 16:18] cheyang commented on #32
Did you deploy MPI-operator? Please check the step 7 of https://github.com/AliyunContainerService/arena/tree/master/docs/installation.

[code]

[2018-08-24 01:41] xieydd commented on #32
@cheyang Thanks a lot .

[2018-08-24 03:09] cheyang opened #35 "support serving to share GPU"
Currently GPU is not sharable by different serving application, arena will support this case .

[2018-08-24 10:02] xieydd commented on #32
When I Run MPIjob

[code]
`arena list` can find something,but `arena get `get nothing

[code]
@cheyang Can you help me,Thanks a lot

[2018-08-24 11:56] cheyang commented on #32
1.  show me the output of `kubectl get po |grep mpi-dist` ?
2.  upload mpi-operator's log:
[code]

[2018-08-26 02:32] xieydd commented on #32
The problem is that I can create job,but there are no pod created. @cheyang

[2018-08-26 11:02] cheyang commented on #32
I think it's mpi-operator issue. But I'm not able to recreate it in my machine. Can you provide the log of mpi-operator so I can investigate?  Thanks.

[code]

[2018-08-26 11:04] xieydd commented on #32
@cheyang All Right , I will provide the log tomorrow morning ; Thanks a lot.

[2018-08-27 01:15] xieydd commented on #32
@cheyang This is my log;

[code]

[code]

[code]

[2018-08-28 01:37] xieydd commented on #32
@cheyang Can you help me . Thanks a lot.

[2018-08-28 03:11] xieydd commented on #32
@cheyang I Synchronize with upstream code , and i fixed it.

[code]

[2018-08-28 05:53] cheyang commented on #32
Sorry. I didn't get chance to take a look at it. Glad to hear that you fixed it! Thank you.

[2018-08-28 09:10] xieydd opened #36 "SomeThing about horovodjob?"
1. Have you consider offering one horovodjob demo in home page.
2. The init container of mpijob git-sync ,does it provide the same functionality of the init container of horovodjob rsync
@cheyang

[2018-08-28 11:49] #13 closed

[2018-08-28 12:04] cheyang commented on #36
We will deprecate the horovodjob because it's not very user friendly, and no plans to deliver document.

You can open an issue against it. But it's not high priority for us.

[2018-08-29 07:35] xieydd commented on #32
I have a problem, all job`s pod use hostip,why not use vip ;
I have tested use calico , pod ip is not hostip, and it can run mpijob successful.
[code]

[2018-08-29 08:04] xieydd commented on #32
@cheyang Sorry about that, i set useHostNetwork: false and use vip

[2018-08-29 09:45] cheyang commented on #32
1. HostNetwork has no network overhead. And in the deep learning scenario, port conflict is not concern. According to our experience,  there are always one or two pod in the same node.
2. I suspect it's caused by the authority of the MPI launcher  because I see this error:
[code]
Can you check the output of `kubectl get role mpijob-test-launcher -o=yaml`?

[2018-08-29 09:48] xieydd commented on #32
@cheyang
This is my log,

[code]

[2018-08-29 12:41] cheyang commented on #32
From the logs,  the job-launcher can launch `mpijob-test-worker-1` successfully, and is able to  run training. But there are communication issues between master and the node which run ` mpijob-test-worker-0`

[code]

i suggest you should run `tail -f /dev/null`(for everscript) in  mpijob, and try to run `kubectl exec` to check the network connection between master and the specified node.

[2018-08-29 12:50] xieydd commented on #32
I find error. also mpi Unauthorized error;
I don`t why , beacuse i have created clusterrole、clusterrolebinding、serviceaccount
when i update the file mpi-operator.yaml,but also have the error.

@cheyang

[code]

[code]

[2018-08-29 22:34] cheyang commented on #32
@xieydd may I know your email address? I'd like to send email to you.

[2018-08-30 01:14] xieydd commented on #32
@cheyang xieydd@gmail.com
Thanks a lot .

[2018-08-30 02:49] #36 closed

[2018-08-31 03:25] xieydd commented on #32
@denverdino would you like to help me .

[2018-08-31 04:09] cheyang commented on #32
@xieydd , sent email to you. Please check.

[2018-08-31 04:54] gaocegege commented on #35
Could you please how to support it in CLI level? I am interested in the issue.

[2018-08-31 04:56] gaocegege opened #43 "[maintainance] Add copyright header in all files."
Golang:

[code]

[2018-08-31 05:57] cheyang commented on #43
Thank you for your reminder!

[2018-08-31 06:14] cheyang commented on #35
You are right. It's not able to be done on CLI level. I have to close it.

[2018-08-31 06:14] #35 closed

[2018-08-31 14:40] #43 closed

[2018-09-05 04:59] cheyang opened #49 "`arena serve list` needs the real status rather than chart status"

[2018-09-05 05:04] cheyang commented on #49
/assign @osswangxining

[2018-09-06 09:17] asdfsx opened #51 "Arena doesn't support multi kubeconfig file"
My KUBECONFIG config as follows
[code]
but when I execute`arena list`, I got the following error
[code]

[2018-09-06 15:19] cheyang commented on #51
`arena list` only supports single cluster.

[2018-09-07 10:53] cheyang commented on #18
It's already done by #39

[2018-09-12 06:03] #32 closed

[2018-09-17 05:05] #18 closed

[2018-10-12 08:31] #6 closed

[2018-10-14 03:16] irhawks opened #65 "Can not run job in minikube deployment"
I have installed arena following the installation guide to my minikube test environment. After installation, `arena top node` shows no worker:

[code]

When submiting examples in [1-tfjob-standalone](https://github.com/kubeflow/arena/blob/master/docs/userguide/1-tfjob-standalone.md), the job stays PENDINGS state ( for podAffinity issues).

Since only workers require GPU resources, can I adjust are

[2018-10-16 13:05] cheyang commented on #65
Thank you for reporting this.

May I know the reason of pending? you can try `arena get {job_name} -e` to show the pending events.

[2018-10-17 14:35] irhawks commented on #65
@cheyang Thank you for your hint and this problems is due to slow network connection when pulling code from github.com.

The following is the process (the command `k` is a shortcut for `kubectl`):

[code]

Here is the output

[code]

[2018-10-17 14:35] #65 closed

[2018-10-17 14:47] irhawks commented on #65
ps. the original reason that leads to PENDING state is due to another kubeflow long running job:

[code]

[code]

[2018-10-21 03:51] cheyang commented on #65
Thank you. you can try `arena top node -d` to see which running pod is using GPU.

[2018-10-24 11:20] asdfsx commented on #51
Is there any plan to support multi kubeconfig file or multi context?

[2018-10-25 06:09] zchunhai opened #67 "In tfjob, is there a plan to support RDMA SRIOV with non hostNetwork?"
In tfjob, is there a plan to support RDMA SRIOV with non hostNetwork?
Using https://github.com/Mellanox/k8s-rdma-sriov-dev-plugin.

[2018-10-29 09:04] cheyang commented on #67
Yeah, we have such plan. And your contributions are welcome.

[2018-10-31 06:26] ymsdu2004 opened #70 "use 'arena logs -f' as tail -f"
hi, we want to use 'arena logs -f' as 'tail -f', which output logs in realtime

thanks

[2018-11-07 12:41] wsxiaozhang commented on #67
@zchunhai have you tried RDMA HCA mode? It's supported by arena so far.  For SRIOV, are you looking for bandwidth isolation, or can you describe your scenario more?  thanks

[2018-11-07 12:47] wsxiaozhang commented on #51
@asdfsx yes, we have plan to wrapper a arena context which is not only for clusters env but also security . pls stay tuned.

[2018-11-07 13:54] byronyi commented on #67
In HCA mode, a virtual netdev is created separately from the IB device (using Calico or Flannel), and the IP binds to the netdev, e.g. eth0, is bridged to the host network and has no RDMA capabilities. This breaks applications that run on bare metal RoCE and use RDMA Connection Manager (rdmacm) API to resolve IP to the corresponding IB device.

[2018-11-09 11:43] asdfsx commented on #67
@wsxiaozhang We have tried HCA mode with RoCE adapter (thus we do not configure IPoIB) and we found the QP in container cannot establish RDMA connection:

[code]

Is this configuration supported?

[2018-11-09 11:46] asdfsx commented on #67
Also raised an issue upstream: https://github.com/Mellanox/k8s-rdma-sriov-dev-plugin/issues/18

[2018-12-14 11:00] xiaozhouX opened #88 "show rdma device allocate info for `arena top node` and `arena top job`"
show rdma device allocate info for `arena top node` and `arena top job` . Only if there is any node or job have rdma device.

[2018-12-26 14:59] cheyang opened #91 "logviewer cause index out of range when mpijob is not ready"
submit mpijob then use `arena logviewer` cause panic
[code]

[2018-12-31 12:16] cheyang opened #94 "Performance issue of arena list"
The latency of `arena list` is more than 4s, but the cpu usage is only 0.331s.

[code]

[2019-01-02 03:35] xiaozhouX opened #95 "Optimize arena logs when job is failed"
When some job is failed, `arena logs` can't show the last failed pod's log. So we need to use `kubectl get po` and `kubectl logs xxx` to debug .

[2019-01-02 04:06] xiaozhouX opened #97 "Consider that use '~/charts' charts file overwrite '/charts'"
Some environment we can not write file in `/charts` because of the permission.
Can we use `~/charts` in place of `/charts` if `~/charts` exist . Or if `/charts` not exist, use `~/charts`.
@cheyang

[2019-01-03 02:30] xieydd commented on #97
I think change to `~/charts` ok, but when update the arena is not friendly. @xiaozhouX

[2019-01-04 10:03] cheyang opened #98 "mpijob reports running when the worker pod is pending"
[code]

The reason is the status of mpijob is empty.

[2019-01-04 10:36] #91 closed

[2019-01-04 12:32] xiaozhouX commented on #97
We can still use `/charts` if `~/charts` is not exist. @xieydd

[2019-01-04 13:16] #70 closed

[2019-01-04 13:16] #95 closed

[2019-01-07 08:59] soolaugust opened #101 "Could not found gpu with "arena top node"?"
I following setup guide in [https://github.com/kubeflow/arena/blob/master/docs/installation/README.md](https://github.com/kubeflow/arena/blob/master/docs/installation/README.md). All are successfully, but when I try `arena top node`, the result is:

![default](https://user-images.githubusercontent.com/10558124/50800206-36254380-131a-11e9-9b14-12a26acbd872.JPG)

but using `nvidia-smi`, I can found

[2019-01-08 01:10] soolaugust commented on #101
This is because nvidia device plugin not deployed. Sorry for noise.

[2019-01-08 01:10] #101 closed

[2019-01-09 08:08] soolaugust opened #102 "arena guide met problems"
Hi,

I am a freshman,

when I follow this guide: [arena/docs/userguide/1-tfjob-standalone.md](https://github.com/kubeflow/arena/blob/master/docs/userguide/1-tfjob-standalone.md),

but met problems, could anyone help to check it?

![image](https://user-images.githubusercontent.com/10558124/50883349-c189fc00-1422-11e9-8c10-688589d7d605.png)

[2019-01-09 08:32] cheyang commented on #102
I think it's a network problem. because it downloaded the mnist dataset from web site: https://storage.googleapis.com/cvdf-datasets/mnist/ .

You can investigate by checking the stack trace.  Here is the tensorflow source code related to it. https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/contrib/learn/python/learn/datasets/mnist.py#L33

[2019-01-10 08:54] ldd91 opened #103 "Prometheus could not pull metric from node-gpu-expoter"
When deployed node-gpu-expoter and prometheus in kubernetes GPU cluster,everything goes well,Prometheus UI can list gpu metric,however two day pass,the node-gpu-expoter become down.When i exec kubectl logs -f node-gpu-expoter-XXX,it shows nothing.

[2019-01-10 08:58] ldd91 commented on #103
I wonder if  you have  the plane to open source node-gpu-expoter code

[2019-01-10 10:17] xiaozhouX commented on #103
What your mean that node-gpu-expoter become down ? It pod still running or not ?
Can you print some detail for node-gpu-expoter, like exec
`kubelet -n kube-system describe po node-gpu-expoter`

[2019-01-11 10:10] soolaugust opened #104 ""arena list" status not same as "arena get" status."
Hi,

When I create a training job using arena, I found the status of job in 'arena list' is not same as 'arena get':

![image](https://user-images.githubusercontent.com/10558124/51027228-44e65180-15cb-11e9-8c71-1db83e174f7d.png)

The command is as follow:

[code]

And the error things is that logviewer shows nothing with any job:

![image](https://user-images.githubusercontent.com/10558124/5102748

[2019-01-13 08:30] cheyang commented on #104
`arena get` shows every instance(pod)'s status inside tfjob not overall tfjob's status.  They are not the same.

You can check tfjob's status by using
[code]
Please pay attention to status section of the result.

You can check the pod status inside tfjob by using

[code]

[2019-01-13 08:32] cheyang commented on #104
And you can check tf-operator's and the pod's log to investigate why this tfjob is pending.

[2019-01-14 00:04] soolaugust commented on #104
@cheyang  Thanks for response,

Here are results of my tfjob:

[code]
![image](https://user-images.githubusercontent.com/10558124/51092459-8d239080-17d2-11e9-970e-e3ee040efe06.png)

[code]
![image](https://user-images.githubusercontent.com/10558124/51092464-a3315100-17d2-11e9-9435-d9c9cf472f14.png)

[code]
![image](https://user-images.githubusercontent.com/10558124/51092478-cbb94b00-17d2-11e9-9215

[2019-01-14 00:36] soolaugust commented on #104
I try to bind cluster admin role, but still not work.

[code]

[2019-01-14 03:13] soolaugust commented on #104
After restart tf-job-operator, the log came with following message:

![image](https://user-images.githubusercontent.com/10558124/51095119-59a22f80-17ed-11e9-9157-440a09a858a7.png)

[2019-01-14 05:56] soolaugust commented on #104
I fix this by re-create tf-operator. thanks : )

[2019-01-14 05:56] #104 closed

[2019-01-14 09:08] xiaozhouX commented on #103
Thanks for your feedback, the node-gpu-expoter memory limit is too small. You can adjust it by `kubectl -n kube-system edit ds node-gpu-exporter` , and modify `resource.limits.memory` to `memory: 200Mi`. We will change the default yaml template, and check whether there is memory leak.
The expoter will open source soon.

[2019-01-14 09:24] ldd91 commented on #103
Thanks you,i will have a try later.I have a problem with prometheus,i can not query date from prometheus UI.When I exec kubectl logs -f prometheus-core-5bf584fdf-h4nhq -n monitoring,it shows

time="2019-01-11T16:31:57Z" level=warning msg="Flag -storage.local.memory-chunks is deprecated. Its value 2000000 is used to override -storage.local.target-heap-size to 6144000000." source="config.go:317"
tim

[2019-01-15 06:04] soolaugust opened #108 ""arene top job" couldn't detect metrics."
I follow guide: [arena/docs/userguide/9-top-job-gpu-metric.md](https://github.com/kubeflow/arena/blob/master/docs/userguide/9-top-job-gpu-metric.md).

everything works as expect until last one, when I submit the tfjob anr use "arena to job" to check, the result shows like this:

[code]

![image](https://user-images.githubusercontent.com/10558124/51161677-592d9580-18ce-11e9-9b61-9f3ca675bde9.png)

[2019-01-22 07:33] xiaozhouX commented on #103
It seems different from our yaml template. Did you deploy prometheus by prometheus operator?  I don't know your image version and discovery config. If you can query other metrics, maybe you can check the discovery config.

[2019-01-22 07:38] ldd91 commented on #103
Thank you for replay,I have solved this problem,it was caused by ntp,in my cluster i didn't config the ntp server.

[2019-01-22 07:38] #103 closed

[2019-01-23 00:57] soolaugust commented on #108
Finally I found the reason cause this:

1.  Kubeadm disable read-only-port 10255 by default since 1.11, refet to [kubeadm: Improve the kubelet default configuration security-wise ](https://github.com/kubernetes/kubernetes/pull/64187), so cadvisor couldn't detect metrics by accessing 10255 port.

2. after fixing 1st problem, I found the result of getting pods is empty,  this is fixed by [Fix for to

[2019-01-23 01:00] soolaugust commented on #108
@cheyang

I think there should be some tips about 1st problem in guide.  because current guide about "Monitor GPUs of the training job" is not work in later 1.11 version of Kubeadm.

[2019-01-23 01:19] soolaugust commented on #108
/assign cheyang

[2019-01-24 01:53] Eric-Zhang1990 opened #112 "Which framework does arena support"
@willb @ewilderj  @aronchick  @mhausenblas   Can someone tell me which framework arena can support  and give some examples for each framework?
Thanks very much.

[2019-01-24 02:18] cheyang commented on #108
@xiaozhouX please take a look.

[2019-01-24 05:53] Eric-Zhang1990 commented on #112
@carmark  Thank you for your reply.  Can you give me some examples of pytorch or caffe training using multi GPUs from master and node on kubernets?  Thanks.

[2019-01-24 05:58] xieydd commented on #112
@Eric-Zhang1990 You can see the example of horovod pytorch : https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py

[2019-01-25 01:30] Eric-Zhang1990 commented on #32
@cheyang @xieydd   When I run example:
$arena submit mpi --name=mpi-dist              \
              --gpus=1 \
              --workers=2 \
              --image=uber/horovod:0.13.11-tf1.10.0-torch0.4.0-py3.5 \
              --env=GIT_SYNC_BRANCH=cnn_tf_v1.9_compatible \
              --syncMode=git \
              --syncSource=https://github.com/tensorflow/benchmarks.git \
              --tensor

[2019-01-25 05:07] cheyang commented on #32
You can debug by using `arena get mpi-dist -e`. It will show pending events.

[2019-01-25 06:06] Eric-Zhang1990 commented on #32
@cheyang   After I run that command, I got following info:
(Note: I run arena on 192.168.110.25, which is master of k8s, 192.168.110.158 is node. )
[root@k8s-master arena]# arena get mpi-dist -e --namespace arena-system
mpi-dist
mpi-dist
mpi-dist
NAME      STATUS   TRAINER  AGE  INSTANCE                  NODE
mpi-dist  PENDING  MPIJOB   1m   mpi-dist-mpijob-worker-0  N/A
mpi-dist  RUNNING  MPIJOB

[2019-01-25 06:41] Eric-Zhang1990 commented on #32
@cheyang  I run kubectl logs -n arena-system mpi-operator-f49774cdc-bb2q8 &> /tmp/mpi-operator.log:

W0125 03:11:23.505801       1 client_config.go:529] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I0125 03:11:23.509887       1 mpi_job_controller.go:150] Creating event broadcaster
I0125 03:11:23.510170       1 mpi_job_controller.go:179] Setting

[2019-01-25 09:41] Eric-Zhang1990 opened #114 "Status is running, but cannot get nvidia info"
@cheyang  I reboot the system and run the tf-job, now it is running, but it is always in status running and I can not get any output infomation about the use of gpu, like this:
![_ _20190125173713](https://user-images.githubusercontent.com/24602893/51737670-2488bd80-20c8-11e9-96f2-66a8ffc44da5.png)
------------
![_ _20190125173909](https://user-images.githubusercontent.com/24602893/51737685-2bafcb

[2019-01-26 03:55] cheyang commented on #114
You can check by using `arena logs tf-git`. Personally, I suspect it's caused by network issue. It's something similar to https://github.com/kubeflow/arena/issues/102.

[2019-01-26 07:31] cheyang commented on #32
I think the reason is that init container(git) failed. For the details, you can try `kubectl logs -c init-code mpi-dist-mpijob-worker-0`.

[2019-01-27 10:39] xiaozhouX commented on #108
Thanks for your feedback!
In GPU exporter, we will call 10255 port of node for getting node GPU allocation for pods.
I'm thinking about replace it by read device-plugin's checkpoint file (in `/var/lib/kubelet/device-plugins/kubelet_internal_checkpoint`  ) , another way is reading cgroup devices.list file ([which is done by cadvisor before)](https://github.com/google/cadvisor/blob/master/accelerato

[2019-01-27 23:44] soolaugust commented on #108
I am not familiar about this two ways. is there any reference? I want to dig into it.

[2019-01-28 02:06] Eric-Zhang1990 commented on #32
@cheyang   Yes, it is the fault of git, it shows 'mpi-dist-mpijob-worker-0' (192.168.110.25, master) has git problem, but 'mpi-dist-mpijob-worker-1' (192.168.110.158, node) is ok.
![_ _20190128092742](https://user-images.githubusercontent.com/24602893/51810630-11ead000-22e4-11e9-89e8-7445f15634e7.png)
How can  I solve this problem? Thanks.

[2019-01-28 03:48] cheyang commented on #32
As you know, the network access to `github.com` is not stable from China. That's why you have such issue.  I think you can build docker image like what I did in https://github.com/cheyang/tensorflow-sample-code/tree/master/mpijob/docker . It's not rely on internet network.

[2019-01-28 06:31] Eric-Zhang1990 commented on #32
@cheyang  Thank you for your kind reply.  Now issue above disappeared, but status of mpi-dist-mpijob-launcher is pending, I run command 'kubectl describe po  mpi-dist-mpijob-launcher-wl9nt --namespace arena-system' get following info:
Events:
  Type     Reason            Age                   From               Message
  ----     ------            ----                  ----               -------

[2019-01-29 02:33] cheyang commented on #32
It indicates that your node's label doesn't match what the job  `mpi-dist-mpijob-launcher-wl9nt` requires. You can check by using `kubectl get po mpi-dist-mpijob-launcher-wl9nt --namespace arena-system -o=yaml` and `kubectl get no -o=yaml`.

[2019-01-30 09:08] Eric-Zhang1990 commented on #32
@cheyang  Thank you. I add a label name for each node, it can run now.

[2019-02-03 13:59] yeya24 commented on #108
So any progress here? Same issue here.

[2019-02-03 14:03] yeya24 commented on #5
@xiechengsheng Are you still working on this? If not, I'd like to take this.

[2019-02-13 01:39] soolaugust opened #121 "Command in guide "rdma" is incorrect."
From raml, we can see rdma device plugin is created within namespace 'arena-system'.

https://github.com/kubeflow/arena/blob/42137e057654a06354667c1c7e1eb16c29177aba/kubernetes-artifacts/rdma/device-plugin.yaml#L5

but in guide "rdma", command is as follow:

[code]
this won't get expect result.

I think the command should be:

[code]
and local test result is as following:

![image](https://user-im

[2019-02-13 05:39] #121 closed

[2019-02-13 11:10] xiechengsheng commented on #5
Hi @yeya24, sorry for the late reply, I have given up this feature beacause of the compatibility problem in different k8s cluster version, the detail is in #7. So just go ahead and looking forward to your better solution~

[2019-02-14 03:41] xiaozhouX commented on #108
For now, we can only open kubelet's 10255 port. We will solve this as soon as possible.

[2019-02-19 11:17] asdfsx opened #125 "when should I set hostIPC to false?"
https://github.com/kubeflow/arena/blob/25b7c75624bcdbb6609449722f2407db087cf795/charts/tfjob/values.yaml#L5-L9

I start a service in container, and try to connect to this service using `localhost:xxxx`, it always failed.

But after I set `useHostIPC` to `false`, I can connect the service using `localhost:xxxx`.

I wanna know when should I using `useHostIPC`? And if I set `HostIPC` to `false`, does

[2019-02-19 11:33] cheyang commented on #114
/close

[2019-02-19 11:33] #114 closed

[2019-02-19 11:58] cheyang commented on #125
I think you can set `useHostIPC` to false.  We set it to true because it's a simple way to increase shm size in Kubernetes. Some cases use shm for multiprocessing.

[2019-02-20 03:02] asdfsx commented on #125
Then what about `useHostPID`. Can I set it to `false`?

[2019-02-20 03:54] cheyang commented on #125
Yes, you can set it to false too. The impact is that `nvidia-smi` can't find the process id. inside the container.

[2019-02-22 06:25] asdfsx commented on #125
Thx for reply！I'll close the issue!

[2019-02-22 06:25] #125 closed

[2019-02-22 10:15] wsxiaozhang commented on #112
if more queries come, pls reopen

[2019-02-22 10:15] #112 closed

[2019-03-12 10:21] Chaos-Ju opened #134 "gitlab:could not lock config file //.gitconfig: Permission denied"
when i use gitlab in tfjob ,occur a err:

ERROR: can't create .netrc file: error setting up git credentials exit status 255: error: could not lock config file //.gitconfig: Permission denied

[2019-03-12 10:52] Chaos-Ju commented on #134
git-sync issue link : https://github.com/kubernetes/git-sync/issues/91

[2019-03-12 11:06] Chaos-Ju commented on #134
test the git-sync latest version:v3.1.1, fix the problem

[2019-03-12 17:20] cheyang commented on #134
Are you using `k8s.gcr.io/git-sync:v3.1.1`? Thank you!

[2019-03-12 23:49] Chaos-Ju commented on #134
yes

[2019-03-13 11:17] Chaos-Ju opened #136 "arena delete tfjobs error"
delete command and logs：

[chaochchao1]$ arena delete tf-estimator1
ERRO[0000] Failed to delete tf-estimator1, the reason is that There is no training job found with the name tf-estimator1, please check it with `arena list | grep tf-estimator1`

[chaochao1]$ arena delete tf-estimator2
WARN[0000] Failed to UninstallAppsWithAppInfoFile due to exit status 123
WARN[0000] manually delete the following

[2019-03-13 12:12] Chaos-Ju commented on #136
the reason is : should bind the clusterrole to the user/group   ,apiGroups: kubeflow.org  ,resources: tfjobs, verbs: delete

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tfjob-role
rules:
- apiGroups:
  - kubeflow.org
  resources:
  - tfjobs
  verbs:
  - get
  - list
  - watch
  - create
  - delete

[2019-03-13 12:17] Chaos-Ju commented on #136
In addtion ,when execute" cat /tmp/tf-chaochao2-tfjob558960642 | xargs kubectl delete --namespace test"
I think should mark the real error("Error from server (Forbidden): tfjobs.kubeflow.org "tf-chaochao2" is forbidden: User "chaochao1" cannot delete resource "tfjobs" in API group "kubeflow.org" in the namespace "test") ,not just return a error code (failed to UninstallAppsWithAppInfoFile due to e

[2019-03-14 07:33] #136 closed

[2019-03-14 14:14] cheyang commented on #136
I think the issue you'd like to report is the error message misleads you. Right?

[2019-03-16 15:16] cheyang commented on #134
@Chaos-Ju , Will you fix this issue? Thanks.

[2019-04-12 01:48] cheyang opened #149 "Need `arena get` json and yaml output"
Json output:
[code]

yaml output

[code]

[2019-04-13 05:17] ringtail opened #151 "Update k8s.io/apimachinery"
Pls update`k8s.io/apimachinery`. New CRD operator needs to invoke runtime.Must(AddToSchem()) which is missing in current version of `k8s.io/apimachinery`.

link:
https://github.com/kubernetes/apimachinery/blob/release-1.11/pkg/util/runtime/runtime.go#L169
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/client/clientset/versioned/scheme/register.go#L59

[2019-04-17 02:54] #149 closed

[2019-04-19 15:23] ldd91 opened #152 "create tf-operator failed"
when I created tf-operator uesd kubectl create -f arena/kubernetes-artifacts/tf-operator/tf-operator.yaml it failed,the log shows:
starting container process cause "exec: \opt/kubeflow/tf-operator.v2 \" : stat:/opt/kubeflow/tf-operator.v2: no such file or directory

[2019-04-28 14:44] cheyang commented on #152
Are you using the docker image `registry.cn-zhangjiakou.aliyuncs.com/kubeflow-images-public/tf_operator:v20180621-38b886a0` ? I'm not able to reproduce it in my side.

[2019-05-08 06:15] asdfsx opened #158 "evaluator need Replicas parameter"
When create a tfjob that have `evaluator`, tf-operator will check `Replicas` parameter of `evaluator`. If `Replicas` doesn't exist, it will cause runtime problem. And the tf-operator will crashed.
Right now the tfjob.yaml doesn't have such parameter.

https://github.com/kubeflow/arena/blob/f3a359432873ef871356a0bb2153249ee0e84ed9/charts/tfjob/templates/tfjob.yaml#L728-L730

And following is the va

[2019-05-09 08:43] Tilyp opened #161 "stat /charts/tfjob: no such file or directory"
当我执行以下命令时
arena submit tf
        --name=tf-git
        --gpus=0
        --image=tensorflow/tensorflow:1.5.0-devel-gpu
        --syncMode=git
        --syncSource=https://github.com/cheyang/tensorflow-sample-code.git
        "python code/tensorflow-sample-code/tfjob/docker/mnist/main.py --max_steps 10000"
Flag --syncMode has been deprecated, please use --sync-mode instead
Flag --syncSource has bee

[2019-05-18 02:55] yeya24 commented on #161
When submitting a training job with arena cli, arena will try to get the job chart.
Move /arena/charts   to  $HOME or /  can solve this problem

[2019-05-18 03:04] yeya24 opened #163 "update TFJob version to v1 or v1beta2"
Recently tf_operator has updated TFJob to v1. But arena still uses v1alpha2. Can we update tfjob to v1 or v1beta2?

[2019-05-18 13:18] cheyang commented on #163
Thank you for your suggestions! We'd like to support V1 soon. Since some of our customers are using v1alpha2, we need be careful to this. Thanks again.

[2019-05-18 19:11] posix4e opened #164 "Make it easy for people to install arena"
As a user, not wanting to do development, how do I get arena installed on my machine. Any reason why a binary or tarball is not provided?

[2019-05-18 19:29] posix4e commented on #163
This broke me. posix4e@localhost:~$ arena submit tf --name=tf-dist-git                            --gpus=1                            --workers=2                            --workerImage=tensorflow/tensorflow:1.5.0-devel-gpu                --syncMode=git               --syncSource=https://github.com/cheyang/tensorflow-sample-code.git               --ps=1                            --psImage=tensor

[2019-05-18 19:32] posix4e commented on #161
We should close this but maybe add it to faq

[2019-05-18 20:57] posix4e opened #165 "Create a faq of common user problems"
I think with such a complicated system a lot goes wrong. Maybe we create a faq to common solutions to common problems. I'm happy to do an English one if anyone agrees

[2019-05-19 02:05] cheyang commented on #163
I think the workaround is that
[code]
By the way, what's tfjob version you are using?

[2019-05-19 03:31] Tilyp commented on #161
ok

在 Alex Newman <notifications@github.com>，2019年5月19日 03:32写道：We should close this but maybe add it to faq

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.
[
{
"@context": "http://schema.org",
"@type": "EmailMessage",
"potentialAction": {
"@type": "ViewAction",
"target": "https://github.com/kubeflow/arena/issues/161?ema

[2019-05-19 03:35] cheyang opened #166 "Migrate to TFJob V1"
The TFJob V1 is released. We will test this version carefully. And think about how to upgrade with existing users.

[TFJob v1](https://github.com/kubeflow/tf-operator/issues/968)

[2019-05-20 01:21] cheyang commented on #165
Thank you! Please go ahead to create a faq, and we'd like to help translate and add more Q&A.

[2019-05-20 01:26] cheyang commented on #164
Thank you! We will provide tarball. And what OS are you using?

[2019-05-20 04:41] #161 closed

[2019-05-20 06:09] Tilyp commented on #161
How to deal with this problem
  The output is error: unable to recognize "/tmp/tf-git.yaml870534675": no matches for kind "TFJob" in version "kubeflow.org/v1alpha2"

  ------------------ 原始邮件 ------------------发件人：yeya24 "notifications@github.com"时　间：2019/05/18 10:55:26 星期六收件人：kubeflowarena "arena@noreply.github.com"抄送人：Tilyp "13661944195@189.cn", Author "author@noreply.github.com"主　题：Re: [kubeflo

[2019-05-21 08:30] wsxiaozhang opened #168 "add cpu, mem info in "arena top node" and "arena top job""
cpu and mem resource info is useful for both non-gpu and gpu jobs.
these should be included in "arena top "

[2019-05-21 08:40] wsxiaozhang opened #169 "arena should submit jobs with support for customized label, toleration, securityContext in podSpec"
more and more user cases are request specify customized label, toleration, securityContext, priorityClass, etc to job underlaying Pods. arena should give a unified mechanism to meet those customization requirement.

[2019-05-21 08:44] wsxiaozhang opened #170 "add event info of tfjob level in "arena get jobname -e ""
"arena get jobname -e" only shows events of chief worker pod's event. while some meaningful events info of job level should also be shown. e.g. when ResourceQuotas enabled, if job request resources exceed quota, the related Error info only existing in tfjob events.

[2019-05-21 23:05] posix4e commented on #165
Great can we close this now? Also what do we say about pytorch support

[2019-05-22 15:11] cheyang commented on #165
For now, we don't support pytorch yet. Please go ahead to open an issue.

[2019-05-22 15:11] #165 closed

[2019-05-22 18:44] posix4e commented on #97
What if we just use $CHARTS and we have a special set of instructions for setting $CHARTS? Happy to make this change to the docs.

[2019-05-22 18:45] posix4e commented on #134
Let's close this out. It's stale

[2019-05-22 18:45] posix4e commented on #164
I am on linux fedora 64. Happy to create tarballs

[2019-05-22 18:46] posix4e commented on #163
It totally worked , let's close it out now that it's in the FAQ. I used whatever an on kfctl gave me.

[2019-05-23 03:37] yeya24 commented on #163
Close this issue via #166

[2019-05-23 03:37] #163 closed

[2019-05-27 16:29] yeya24 commented on #5
@cheyang  Hello, I' m trying to implement this feature by api k8s.io/metrics. But it seems like current k8s dependency is too old. Can we update k8s package to 1.11.0?

[2019-05-28 01:31] wsxiaozhang opened #173 "add support for looking up command details of previous jobs"
to support look up previous jobs command details is helpful to diagnose client problems or reference for re-run

[2019-05-28 09:38] wsxiaozhang opened #175 "'arena version' should also contain info of charts, operators installed in environment"
arena version command should contain more info of which versions of charts, apiVersion of tfjob, mpijob etc, and corresponding operators release version deployed in cluster.
it's helpful to quickly identify the mis-usage of arena.

[2019-06-18 02:35] wsxiaozhang opened #181 "Incorrect sample 'curl' command used in 'arena serve' user doc"
In the '7-tf-serving.md' user doc, sample model is mnist, however the sample curl command to test the mnist model service is incorrect, which looks like this
'curl -X POST   http://mymnist:8501/v1/models/mnist:predict    -d '{"signature_name":"predict","instances":[{"sepal_length":[6.8],"sepal_width":[3.2],"petal_length":[5.9],"petal_width":[2.3]}]}'
'
problems:
1. 'signature_name' should be "pred

[2019-06-18 06:06] #181 closed

[2019-06-18 13:16] SrinivasChilveri opened #184 "SIGSEGV on arena get sparkjob --type sparkjob"
[code]
root@root1-HP-EliteBook-840-G2:/home/root1/SriniCH/workspace/src/github.com/kubeflow/arena# ./bin/arena version
arena: v0.2.0+44b0c1d
  BuildDate: 2019-06-18T11:55:21Z
  GitCommit: 44b0c1de82d5a6364f70bc27e3726ea6e29e9f64
  GitTreeState: clean
  GoVersion: go1.11.5
  Compiler: gc
  Platform: linux/amd64

[2019-06-18 15:16] #184 closed

[2019-06-30 22:04] #33 closed

[2019-07-04 21:08] yuzisun opened #193 "Arena to support serving models with KFServing"
KFServing has released 0.1.0 version, we are looking to integrate with arena.

[2019-07-08 10:14] wsxiaozhang commented on #193
@yuzisun that's great to have KFServing in arena. we just have tf-serving now. Any plan to submit a PR for the integration?

[2019-07-09 01:28] cheyang opened #197 "Enhance `arena top node` to show node info"
The machine in cloud will be shut down, but will not be deleted. the `arena top node` also displays these nodes. It's difficult to check how many GPUs are available.

[2019-07-11 11:22] xiechengsheng opened #202 "[bug report] arena top job doesn't show the job which is not create by arena(created by kubectl), but arena top node shows the job"
For some training jobs that are directly created by `kubectl`, `arena top job` won't show the the gpu resources that are allocated to this job, but `arena top node` shows this info.
I think they should keep same.

[2019-07-11 11:58] #197 closed

[2019-07-16 07:51] cheyang commented on #202
The purpose of `arena top node` is to help admin to check which GPU is used and which Pod is using it. And admin can clean it up to get available resources. No matter it's created by `arena`.

The purpose of `arena top job` is to manage the training Job created by `arena`. It's a concept abstraction for specific training job. I don't think all the pods can be abstracted to training job.

The diffe

[2019-07-16 09:28] #202 closed

[2019-07-25 06:36] yuanbw opened #215 "can the "-gpus" option in "arena submit " be a fraction ?"
can the "-gpus" option in "arena submit " be a  fraction of gpu-mem (0.5 for example) ?

[2019-07-25 12:11] cheyang commented on #166
Fixed by #206
/close

[2019-07-25 12:11] #166 closed

[2019-07-25 12:13] cheyang commented on #158
@asdfsx , would you like to help on this? Thanks.

[2019-07-26 16:37] cheyang opened #216 "System Components should be set QoS"
- requests/limits
- priority

[2019-08-01 02:17] Sakuralbj opened #227 "arena serve delete can‘t delete my serving task."
[code]
## GPUCount task:
[code]
## GPUMemory task:
[code]
[code]
[code]

[2019-08-12 06:56] yuanbw opened #241 "failed to create sparkjob"
Per to the guide,
https://github.com/kubeflow/arena/blob/master/docs/userguide/11-sparkjob-distributed.md

i submit a spark job, yet , it output the below err msg:
[root@cdh1 ~]# arena submit sparkjob --name=demo --image=registry.aliyuncs.com/acs/spark:v2.4.0 --main-class=org.apache.spark.examples.SparkPi --jar=local:///opt/spark/examples/jars/spark-examples_2.11-2.4.0.jar
failed to create sparkjo

[2019-08-13 05:05] xiechengsheng opened #243 "[question] volcano pod is always pending after created"
Hi there, when I submit volcano job according to the docx [volcano job](https://github.com/kubeflow/arena/blob/master/docs/userguide/12-volcanojob.md), the status of created pods is pending, have no idea to deal with this problem.
The reproduce steps:
[code]

/cc @SrinivasChilveri @k82cn need your help, thx~

[2019-08-13 06:40] yuanbw opened #244 "how can i use"muti-user" feature in arena?"
Per to release notes of v2.0, https://github.com/kubeflow/arena/releases/tag/v0.2.0,
it has supports multiple users.  How can i use this feature? can it be integrated with LDAP/AP?

[2019-08-13 07:46] k82cn commented on #243
@hzxuzhonghu , please help on this one :)

[2019-08-13 08:08] hzxuzhonghu commented on #243
@xiechengsheng It is because we make kube-batch into volcano https://github.com/volcano-sh/volcano/pull/288, and rename the schedulerName from `kube-batch` to `volcano`.

So let me fix the docs here too.

[2019-08-13 12:25] xiechengsheng commented on #241
Hi there, this issue has been fixed in #242

[2019-08-14 08:50] #243 closed

[2019-08-17 14:23] xiechengsheng commented on #243
Hi, @hzxuzhonghu sorry to disturb you again because I really don't understand the current problem.

- I met another problem which might be tiny. The question is how could I delete the installed volcano-release operator? Because I want to install another volcano-release in other namespaces, I must delete the current operator by `helm del --purge volcano-release`, but when I want to recreate a new o

[2019-08-17 14:29] xiechengsheng commented on #243
/re-open

[2019-08-19 03:44] hzxuzhonghu commented on #243
sorry for late

As you described, it seems that the deletion is not done cleanly.

This is an authz failure.

try this

[code]

And also get the serviceAccount of volcano-scheduler pod.

[2019-08-19 04:15] xiechengsheng commented on #243
@hzxuzhonghu Hi, Thx for your reply, I have tried the command `kubectl get serviceaccounts | grep volcano` but get nothing, there is no clusterrolebinding/clusterrole/serviceaccount of volcano in cluster.

The reproduce step of my problem is :
[code]

[2019-08-19 06:45] wsxiaozhang commented on #244
@yuanbw in this release arena supports multiple users isolation via K8S PodSecurityContext on namespace level.
1. for dev scenario:
It automatically detects the current host Linux account (uid, gid, supplemental group) who runs arena cli command, and injects those information into pod template (runAsUser, runAsGroup, runAsNonRoot, supplementalGroups). In this way, different arena user can have the

[2019-08-28 07:16] Sakuralbj opened #254 "arena serve list and arena serve delete exists some questions"
This is my operation.
[code]
[code]
[code]
I can't find  ENDPOINT_ADDRESS  and PORTS of serving task.
[code]
The pod is running.
[code]
I can't delete the serving task.

[2019-08-28 13:46] cheyang commented on #254
/assign @happy2048

Please take a look, thanks.

[2019-08-28 14:27] happy2048 commented on #254
can you give me the arena version information? use "arena version".

[2019-08-28 14:32] Sakuralbj commented on #254
[code]

[2019-08-28 14:53] happy2048 commented on #254
the charts directory is new?

[2019-08-29 01:20] Sakuralbj commented on #254
Thanks for your help. After I updated the charts directory, the problem is solved.

[2019-09-04 10:40] #158 closed

[2019-09-04 10:51] asdfsx opened #259 "use go module to manage dependencies"
since go module have been released for a long time.
Why not to use go module to manage dependencies?

[2019-09-05 02:37] asdfsx commented on #158
@cheyang fix the issue by pr #257

[2019-09-06 13:34] #254 closed

[2019-09-06 13:34] #241 closed

[2019-09-06 13:37] cheyang commented on #215
Please check https://github.com/kubeflow/arena/blob/master/docs/userguide/7-tf-serving-gpushare.md.

[2019-09-11 02:52] toyow opened #260 "Is there any way to avoid container oom_kill?how can I get memory usage inside the container？"
/kind question

**Question:**
when ommkill happened，the container will be restared ,and the third party librar installed by user can‘t be recovered。Is there any way to solve this problem？
More specific，how can I get memory usage  inside the container（not through  “docker stats”，it is from outside）

[2019-09-16 12:53] xiaopang1001 opened #261 "add "-e" to “arena serve get”"
[root@master001 file]# arena serve get perseus-serving
NAME:             perseus-serving
NAMESPACE:        default
VERSION:          201909162016
DESIRED:          1
AVAILABLE:        0
SERVING TYPE:     CUSTOM
ENDPOINT ADDRESS: 10.97.88.152
ENDPOINT PORTS:   grpc:8001,restful:8000
AGE:              34m

INSTANCE                                                      STATUS   AGE  READY  RESTARTS  N

[2019-09-16 12:58] xiaopang1001 opened #262 "add local fs support for ”arena serve custom”"
use "--data-dir=/mnt/fs" to suport local fs .

[2019-09-19 11:52] toyow opened #263 "undefined: serializer.DirectCodecFactory"
# github.com/kubeflow/arena/pkg/tf-operator/client/clientset/versioned/typed/kubeflow/v1alpha2
/data/go/pkg/mod/github.com/kubeflow/arena@v0.3.0/pkg/tf-operator/client/clientset/versioned/typed/kubeflow/v1alpha2/kubeflow_client.go:72:32: undefined: serializer.DirectCodecFactory

[2019-09-24 03:16] #227 closed

[2019-10-17 08:59] happy2048 opened #267 "Bug: arena can not delete serving job"
BUG:
(1)  firstly,I use follow command to create a serving job:
[code]
(2) secondly,I use follow command to create second serving job:
[code]
（3）thirdly,I use follow command to create third serving job:
[code]
you see,The first and second are the same except for their different version or type。
then use `arena serve list` to get job informations:
[code]
finaly,when I use `arena serve delete` to de

[2019-10-18 05:01] toyow opened #268 "I submit a job through arena client，which can be found by kubectl，but can‘t through arena cmd。"
the pkg  I use：
`v1 "github.com/kubeflow/arena/pkg/tf-operator/apis/tensorflow/v1"
_ "github.com/kubeflow/arena/pkg/tf-operator/client/clientset/versioned/scheme"
tfclientset "github.com/kubeflow/arena/pkg/tf-operator/client/clientset/versioned/typed/tensorflow/v1"`

root@haicong10683232:~# arena list  -n fonta-distributed
NAME        STATUS   TRAINER  AGE  NODE
tfjob--dev  PENDING  TFJOB    0s

[2019-10-18 09:17] #268 closed

[2019-10-29 02:44] yuanbw opened #272 "CreateSession still waiting for response from worker"
when i submit a distributed tensorflow job using the command  below:
# Set the Job Name
%env JOB_NAME=tf-distributed-mnist
# Submit a training job
# using code and data from Data Volume
!arena submit tf \
             --name=$JOB_NAME \
             --namespace=jupyter \
             --ps=1 \
             --workers=2 \
             --gpus=1 \
             --data=training-datab-bowenyuan-pvc:/train

[2019-10-29 08:39] yuanbw commented on #272
I find that the issue is related with the "-n " parmeter in "arena submit tf".
In my command, i spcify it as "--namespace=jupyter",  and if i changed it to "--namespace=default" it works.
So, if how can i enable to run "arena summit" in a Customerized Namespace?

Attached is my RBAC serviceAccountName file.
[tiger-arena-jupyter.yaml.txt](https://github.com/kubeflow/arena/files/3782416/tiger-arena-

[2019-11-26 12:59] ocherfas opened #276 "List command not working properly with custom trainer"
**Scenario:**
- Created a custom trainer that arena uses
- Created one test train job using volcano trainer
- Created one test train job using our custom trainer
- run `arena list` (without --type flag)
**What happened:**
Got an error "Failed to get the training job %s, but the trainer config is found"
**What expected:**
List command will return all jobs (including my custom trainer job)
**Reason

[2019-11-26 14:49] ocherfas commented on #276
Pull request for fix:
https://github.com/kubeflow/arena/pull/277

[2019-11-27 04:09] binblee opened #278 "Support node selector in serve action"
Node selector already supported in submit, can it be supported in serve action as well?

[2019-12-26 15:00] happy2048 commented on #272
Hi, yuanbw, it may not be a bug of arena,please refer https://github.com/kubeflow/tf-operator/issues/267 and https://github.com/kubeflow/tf-operator/issues/238.

[2020-01-06 06:51] cheyang opened #289 "Failed to submit tfjob when using helm v2.9.1"
[code]

But when changing `usr/local/bin/arena-helm` to 2.14.1, every thing looks good.

[2020-01-09 08:09] #289 closed

[2020-01-21 10:05] cheyang opened #291 "tf-operator crashed"
Try to submit tfjob with chief and evaluator, and tf-operator is crashed. From the logs:

[code]

[2020-01-21 10:17] #291 closed

[2020-01-21 19:51] xiaoyili commented on #289
I'm having helm v2.9.1, but running your command returns the following error:

Error: parse error in "tfjob/templates/tfjob.yaml": template: tfjob/templates/tfjob.yaml:273: unexpected "=" in operand
Failed to execute /usr/local/bin/arena-helm, [/usr/local/bin/arena-helm template -f /tmp/values006958109 --namespace arena-system --name firstjob /charts/tfjob > /tmp/firstjob.yaml728457432] with exit

[2020-01-21 20:14] xiaoyili commented on #289
2.13.1 works as well

[2020-02-04 23:04] xiaoyili opened #293 "kubernetes-artifacts/prometheus/grafana.yaml have missing fields"
missing required field "selector" in io.k8s.api.apps.v1.DeploymentSpec

[2020-02-24 06:27] toyow opened #298 "tf-job-operator CrashLoopBackOff"
`{"filename":"app/server.go:75","level":"info","msg":"EnvKubeflowNamespace not set, use default namespace","time":"2020-02-24T06:12:54Z"}
{"filename":"app/server.go:79","level":"info","msg":"Using cluster scoped operator","time":"2020-02-24T06:12:54Z"}
{"filename":"app/server.go:85","level":"info","msg":"[API Version: v1 Version: v0.1.0-alpha Git SHA: Not provided. Go Version: go1.12 Go OS/Arch: l

[2020-03-20 01:07] yuanbw opened #306 "Limit the number of GPUs a user can use"
@cheyang
Is there any way to limit the number of GPUs a user can use ?
for example, If a cluster has 8 gpu, each time a user submits a task, we want to set the maximum number of GPUs he needs cannot exceed 4.

Generally, there are two mechanisms in kuberentes to limit system resources, one is Resource Quotas and the other is Limit Ranges. However, it looks like they don't work for Arena.

[2020-03-29 14:12] chengmengli06 opened #308 "the installation for arena is too complex and could not be done with root priviledge"
the installation for arena is too complex and could not be done with root priviledge.

mkdir -p /charts  could not be done without root priviledge.

The whole installation process should be simplified, and better wrapped within an shell scripts.
Currently, it is hard to use.

[2020-03-29 14:13] #308 closed

[2020-04-07 15:09] ereil opened #310 "delete tfjob not working"
Hi,

it's not possible to delete tfjobs (i have not tried to delete other pods yet).
![Bildschirmfoto vom 2020-04-07 17-07-26](https://user-images.githubusercontent.com/62931301/78685669-5dd6d300-78f2-11ea-80d0-9023862e7e44.png)

arena: v0.3.3+dfc8706.dirty
  BuildDate: 2020-03-14T01:58:36Z
  GitCommit: dfc870630f595e6ca0d2eb97967d8aa5e5d86df4
  GitTreeState: dirty
  GoVersion: go1.10.8
  Compiler

[2020-04-14 12:26] ereil commented on #244
Hi,
is there an example how to realize it?

Is this the right way:
- create namespace for each user or user group
- define which user uses which namespace
- define quota of namespaces
Or are there an other way to do this?

Thanks

[2020-04-15 15:20] ereil commented on #310
It seems that the jobs are fully deleted when restarting. After restart all old jobs are gone.

[2020-04-15 15:20] #310 closed

[2020-04-15 15:23] ereil commented on #306
Hi @yuanbw
How do you implemented users? Do you have multiple users accessing arena?
Are you using different namespaces for the users?

[2020-04-15 15:29] ereil commented on #244
@wsxiaozhang
I've tried the following:

create linux user account student1
create namespace student1ns
edit local $HOME/.kube/config file of user student1 to use namespace student1ns

The user student1 can now access the server via ssh and do kubectl commands
but 'arena top nodes' returns 'Anauthorized'

I'm using microk8s. It seems that its using by default basic auth

[2020-05-22 02:28] Mddct opened #316 "有计划支持pytorchjob吗？"
pytorchjob 和tfjob在api级是一致的，有计划支持吗？

[2020-05-29 06:13] ldd91 opened #317 "gpu-prometheus-exporter 的代码是否有开源计划"
GPU 的采集器代码是否有开源计划呢

[2020-06-28 09:08] KateGo520 opened #330 "Errors will happen when upgrading the library"
(The purpose of this report is to alert `kubeflow/arena` to the possible problems when `kubeflow/arena` try to upgrade the following dependencies)

## An error will happen when upgrading library _spf13/cobra_:

### github.com/spf13/cobra
-Version: v1.0.0   (Latest commit a684a6d on 11 Apr)
-Where did you use it:
https://github.com/kubeflow/arena/search?l=Go&q=github.com%2Fspf13%2Fcobra%2Fdoc
-Deta

[2020-06-28 09:09] KateGo520 commented on #330
@cheyang @happy2048 Could you help me review this issue? Thx :p

[2020-06-28 21:50] cheyang commented on #317
暂时还没有。

[2020-06-28 21:50] #317 closed

[2020-06-28 21:51] cheyang commented on #317
未来如果有开源计划会和您同步。

[2020-06-28 21:52] #267 closed

[2020-06-28 21:53] cheyang commented on #316
目前已经支持，请试用 https://github.com/kubeflow/arena/tree/features/pytorch

[2020-06-28 21:54] cheyang commented on #316
如果测试遇到问题，可以开issue

[2020-06-29 02:42] denkensk opened #331 "Arena support Gang Scheduling based on Scheduling Framework"
With the evolution of scheduling framework，Kube-scheduler can support Gang scheduling natively https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling. So I suggest Arena can support Gang Scheduling base on Scheduling Framework. Small changes may be required：
1.   Add an option to enable Gang scheduling
2.  Add labels that need to be recognized in scheduling
/cc @cheyang

[2020-06-29 06:00] cheyang commented on #316
@Mddct 请问有什么联系方式，欢迎您试用pytorch

/ping @jiaqianjing

[2020-06-29 06:54] jiaqianjing commented on #316
您可以将您的联系方式发送邮件至 jiaqianjing@gmail.com，最好是钉钉

[2020-07-06 10:12] sixinshuier opened #333 "clone private repo, error '/code'...\n/code/.git: Permission denied\n""

[2020-07-07 21:09] #316 closed

[2020-07-07 21:10] #331 closed

[2020-07-07 21:12] #276 closed

[2020-07-16 01:54] Juntai opened #340 "Does Arena support tensorflow's tf.contrib.distribute.CollectiveAllReduceStrategy with tf.estimator?"
I can run ps mode with tf.estimator normally. But when I try some synchronous training strategy without ps, I found only chief is working, other workers is waiting for variables initialization.
So, my questions are:
1.Does Arena support tensorflow's tf.contrib.distribute.CollectiveAllReduceStrategy with tf.estimator?
2.If "yes", any example?
3.If "no", is this on arena's plan list? Or, why not?

T

[2020-08-31 05:43] wywywy01 opened #359 "Failed to execute kubectl"
when i run [https://github.com/kubeflow/arena/blob/master/docs/userguide/17-pytorchjob-standalone.md](url)，
i met errors：

`ERRO[0000] Failed to execute kubectl, [create --dry-run --namespace default -f /tmp/pytorch-dist-git.yaml866840876] with exit status 1
ERRO[0000] The output is error: unable to recognize "/tmp/pytorch-dist-git.yaml866840876": no matches for kind "PyTorchJob" in version "kubef

[2020-08-31 07:12] #359 closed

[2020-09-01 03:15] wywywy01 opened #360 "Speed of pytorch job"
Hi,  i use arena to submit pytorchjob, reference :
[（pytorch多机提交）](https://github.com/kubeflow/arena/blob/master/docs/userguide/18-pytorchjob-distributed.md)

[（pytorch单机提交）](https://github.com/kubeflow/arena/blob/master/docs/userguide/17-pytorchjob-standalone.md)

and i compare distributed and standalone style, get results blow, have you check the speed between above two mode?
![image](https://us

[2020-09-02 09:35] jiaqianjing commented on #360
分布式作业（数据并行）同时在多几个节点训练数据，单位时间内，训练的数据更多，它加速的是整个模型收敛的速度。而不是每一个 worker 的训练速度，另外，由于引入了通络通信，可能还会导致额外的开销。
分布式作业优势在于大规模训练任务

[2020-09-03 04:44] wywywy01 commented on #360
数据并行，那么每个节点训练的数据应该更少，训练的时间不应该是更少吗（考虑通信时间）？

或者说这里的例子里面，构建的dataloader并没有对数据进行拆分，这样的话每个节点还是单独跑一个训练任务，增加的时间是通信时间？

[2020-09-23 12:29] jiaqianjing commented on #360
这个示例没有给数据进行 shard 操作，你可以看一下pytorch `torch.utils.data.DataLoader` 的 API

[2020-10-06 12:41] bobmayuze opened #363 "Can't open arena-kubectl"
I was following the setup documentation and just can't open the arena-kubectl.
![image](https://user-images.githubusercontent.com/14257524/95202680-3b2b6580-0814-11eb-9153-d70d95232baf.png)

[2020-10-06 12:49] bobmayuze commented on #363
Found a way to get it through [source](https://github.com/helm/helm/issues/6615)
[code]

[2020-10-06 12:49] #363 closed

[2020-10-08 12:51] SpontaneousDuck opened #364 "Custom Docker Registry images"
Hello all,

So I am wondering what the sources are for the images listed below:
registry.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/rsync
registry.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/git-sync:v3.1.1
registry.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/jobmon
registry.cn-zhangjiakou.aliyuncs.com/tensorflow-samples/kubernetes-dashboard-amd64

Are all of these just proxys for images

[2020-10-30 05:21] lucasaytt opened #367 "采用官方的例子 但是任务的状态一直是pending,想问下官方的例子需要使用gpu吗"
![image](https://user-images.githubusercontent.com/42641861/97662700-b51cda80-1ab2-11eb-8044-b0a9d05280ff.png)

[2020-11-04 06:23] happy2048 commented on #367
文档中的例子都是使用GPU训练的。

[2020-11-04 06:34] happy2048 commented on #364
please refer the steps to replace docker images:
1.download the images and push them to the local docker repository.
2.git clone arena source code (https://github.com/kubeflow/arena.git)
3.use command  "grep -rn registry.cn-zhangjiakou.aliyuncs.com ./"  to search the images in the arena source code directory and replace them to your local images.
4.use command "make OS_ARCH=darwin-amd64 build-pkg"

[2020-11-08 03:43] cheyang commented on #367
可以用arena get {job-name} -d看一下pending原因

[2020-11-12 13:51] phoenixwu0229 opened #376 "makefile build failed while migrate to go mod"
GO111MODULE should delete

[2020-11-22 04:49] #215 closed

[2020-11-22 04:50] #216 closed

[2020-11-22 07:23] cheyang commented on #164
We  have already provided the tarball to install.

[2020-11-22 07:23] #164 closed

[2020-11-22 07:25] #152 closed

[2020-11-22 07:25] cheyang commented on #151
Done

[2020-11-22 07:25] #151 closed

[2020-11-22 07:27] #134 closed

[2020-11-27 02:58] happy2048 commented on #376
please use command "make OS_ARCH=darwin-amd64 build-pkg" or "make OS_ARCH=linux-amd64 build-pkg"  to build package.

[2020-12-06 07:55] lucasaytt opened #390 "运行分布式demo指定的worker大于1个时，容器异常退出，如图所示"
![image](https://user-images.githubusercontent.com/42641861/101274708-46cae680-37db-11eb-8a44-db52baf76dc1.png)
![image](https://user-images.githubusercontent.com/42641861/101274729-6e21b380-37db-11eb-87be-b7261291094f.png)

[2020-12-06 07:56] lucasaytt commented on #390
使用的是python 3.5

[2020-12-06 07:56] lucasaytt commented on #390
使用的是python3.5、tensorflow 1.14

[2020-12-06 07:57] lucasaytt commented on #367
找到问题 谢谢

[2020-12-06 07:57] #367 closed

[2020-12-06 08:36] lucasaytt commented on #390
![image](https://user-images.githubusercontent.com/42641861/101275492-1423ec80-37e1-11eb-817a-d97c23f97b1b.png)
![image](https://user-images.githubusercontent.com/42641861/101275497-1ede8180-37e1-11eb-859d-ad2bf96269a4.png)

[2020-12-06 08:36] lucasaytt commented on #390
hang住的其他两个worker日志就停留在Profiler session started

[2020-12-08 12:30] yajunwong opened #391 "gangSchdName默认值与最新版本的kube-batch默认名称不一致导致使用刚性调度失败"
hi 最新版本的kube-batch的deployment默认名称是kube-batch，arena设置的gangSchdName默认值是kube-batchd，不一致导致无法使用刚性调度（https://github.com/kubeflow/arena/search?q=gangSchdName），

建议跟最新版版保持一致
https://github.com/kubernetes-sigs/kube-batch/commit/70957dc6f0134023d35b3ac6156ef520ffbe6196

[2020-12-08 12:54] yajunwong commented on #391
[code]

修改kube-batch的deployment名称之后，arena还是把hasGangScheduler设置成了false，无法使用刚性调度功能

[2020-12-08 13:10] yajunwong commented on #391
[code]

[2020-12-09 06:56] yajunwong commented on #391
k8s版本:

[code]

api-versions

[code]

[2021-01-21 09:58] Bobgy opened #405 "WG sponsorship for arena"
Hi, with the same rationale as https://github.com/kubeflow/fairing/issues/526

/kind process

Opening this issue to begin discussions about what to do about arena

/cc @cheyang

[2021-01-21 09:58] Bobgy commented on #405
/cc @kubeflow/project-steering-group

[2021-01-22 07:06] Bobgy opened #406 "Arena needs to own its own test infra"
Google will no longer support Kubeflow common test infra.

Other WGs have migrated to Github Actions and/or an optional test infra supported by AWS: http://bit.ly/kubeflow-test-infra-aws.

/kind process

[2021-01-22 07:08] Bobgy commented on #406
Regardless of the result for https://github.com/kubeflow/arena/issues/405, we'll turn off Kubeflow common test infra soon.

[2021-01-22 07:09] Bobgy commented on #406
/assign @cheyang @wsxiaozhang @denverdino

[2021-01-22 07:09] Bobgy commented on #405
/assign @cheyang @wsxiaozhang @denverdino

[2021-01-23 08:30] Bobgy commented on #406
Nevermind, looks like you are not using it -- this file is empty: https://github.com/kubeflow/arena/blob/master/prow_config.yaml.

I'll remove this presubmit test then.

[2021-01-25 07:21] Bobgy commented on #405
Some possible paths forward:
* Find a WG that makes sense to sponsor Arena, but we are in a WG expansion pause window, because they were just formed and need some time to run smoothly on their own first. So I think you can consider this as an option, and we may revisit after several months.
* Fork to whatever your own choice of organization and continue the project there.
* Archive the repo.
* Pro

[2021-01-25 09:12] DavidSpek commented on #405
Arena and Fairing seem to be somewhat similar and both have discussions regarding what WG they will belong to. Maybe it is an idea to form a new WG with the 2 of them?

[2021-01-31 03:42] #364 closed

[2021-01-31 03:55] cheyang commented on #298
Could you please let us know how to reproduce it? Thanks.

[2021-02-05 14:25] happy2048 commented on #391
this bug has been fixed, please try it again.

[2021-03-03 03:21] haohao667788 opened #488 "serving目前仅支持clusterIp，需要支持loadbalancer模式"
如题

[2021-03-11 13:54] lppsuixn opened #496 "无法获取日志，invalid instance name"
![image](https://user-images.githubusercontent.com/12748339/110796911-73e3d500-82b3-11eb-80c0-a704aa34d9a1.png)
k8s 版本: v16.3
arena 版本: v0.7.0+3559f56
现象:
arena get job 正常
arena log job 报错:ERRO[0000] training job not found,please use 'arena list' to make sure job is existed.

[2021-03-12 06:07] happy2048 commented on #496
please use command: arena logs lpp -i lpp-chief-0，the option '-i' is used to specify the instance name.

[2021-03-12 06:12] gaocegege commented on #405
How about maintaining arena at Traning WG? @cheyang

[2021-03-12 06:12] happy2048 commented on #488
目前可以修改~/charts中serving chart中的serviceType实现，后期我们考虑从命令行传入service type。

[2021-03-12 06:15] gaocegege opened #498 "[chore] compatibility problem with tf-operator v1.0.1"
https://github.com/kubeflow/tf-operator/commit/984adc287e6fe82841e4ca282dc9a2cbb71e2d4a#diff-c3cd90fce520caf42f3e75efbc527abd0d119271103de3fe6f0168e8c5fb8c33L30

Kubeflow/common unifies the label for all jobs, while we are still using tf-replica-type in arena. Should we update to replica-type?

cc @cheyang

[2021-03-12 06:15] gaocegege commented on #498
cc @happy2048

[2021-03-12 08:44] #496 closed

[2021-03-12 11:25] happy2048 commented on #498
we have using https://github.com/AliyunContainerService/tf-operator/tree/v1.0-aliyun-branch to build tf-operator for arena, this branch includes some custom features different from kubeflow/tf-operator.

[2021-03-15 08:29] gaocegege commented on #498
Can we merge the change https://github.com/AliyunContainerService/tf-operator/commit/61b59190c296c3cd6ad6ec12058d0eb27029c4de to the mainstream?

[2021-03-29 03:23] happy2048 commented on #498
ok, I will commit a PR.

[2021-04-14 03:34] 1202zhyl opened #536 "`clean-task-policy` support `All` when submitting tfjobs"
arena should support clean-task-policy "All"  when training via tfjobs.
currently, only supports "Running"(clean RUNNING pod) or None(do nothing).
when job is done, often we need to remove ps, chief, evaluator and worker.

[2021-04-17 15:01] cheyang commented on #536
@1202zhyl would you like to contribute?

[2021-04-17 15:03] #376 closed

[2021-04-17 15:04] #360 closed

[2021-04-27 12:24] meibenjin opened #547 "Pytorch distributed job failed when master replica start later than worker replica"
example code

[code]

arena command:

arena submit pytorchjob --name=torch-simple --workers=3 --gpus=4 --image=registry.cn-beijing.aliyuncs.com/pai-dlc/pytorch-training:1.4.0PAI-gpu-py37-cu100-ubuntu16.04 --data=pai-dlc:/pai-dlc "cd /pai-dlc; python train.py"

error occured when master start later than worker pod
![image](https://user-images.githubusercontent.com/4006547/116240120-0b36b600-a796-11

[2021-05-19 06:35] hzliangbin commented on #536
@cheyang I'm just using kubeflow recently and quite interested in this issue. may I take it ?

[2021-05-19 06:36] hzliangbin commented on #536
/assign

[2021-05-27 02:58] gugumituo opened #567 "How to uninstall arena?"
I want to know how to uninstall arena?

[2021-06-02 02:32] gugumituo opened #570 "failed to get LogViewer: No LOGVIEWER Installed."
I submited a standalone tensorflow training job,and it is running normally.
But when i run "arena logviewer tf-git ",it failes.
Please let me know  why,thankyou!!!

arena list
NAME    STATUS   TRAINER  DURATION  GPU(Requested)  GPU(Allocated)  NODE
tf-git  RUNNING  TFJOB    1m        1               1               192.168.8.154

arena logviewer tf-git
ERRO[0000] failed to get LogViewer: No LOGVIE

[2021-06-04 06:16] happy2048 commented on #567
Please refer the doc： https://arena-docs.readthedocs.io/en/latest/installation/uninstall/

[2021-07-11 20:00] mkbhanda opened #608 "Keep Arena roadmap updated"
The project is active but the roadmap has not been updated since 2019.
Helps the community to update per upcoming release.
Might even help to retroactively add features and tasks accomplished in previously releases  while capturing what is slated for  KF 1.4

[2021-07-15 03:48] Alienfeel opened #611 "pyspark support in sparkjob"
[code]
only support Scala task，however， pyspark is quite popular in  data sciencie task

when will pyspark task available in arena ?

[2021-07-15 03:50] Alienfeel opened #612 "sparkjob能否人工指定service-account?"
[code]

1. serviceAccount能否人工指定？
2. sparkVersion 能否放到values.yaml中配置？

[2021-08-22 16:29] elgalu opened #654 "IDE (VSCode/PyCharm) connectivity support?"
Is it being considered to support VSCode and/or PyCharm IDE connectivity to offload local GPU debugging work into a Kubernetes GPU cluster (e.g. Python breakpoints) ?

Currently it's possible to `arena submit [job] ...` then `arena attach JOB ...` but the user would need to put some kind of sleep for the submit job not to end.

Also, in order to be able to connect a local IDE, `kubectl attach` doe

[2021-08-30 03:48] queguan opened #658 "arena 0.5 ， submit mpi job is not run successed"
arena version 0.5
k8s version v1.15.5，the k8s cluster is enabled Pod Security Policy(PSP)
when I submit mpijob，The job error is "Error creating: pods "xxx-002-launcher-" is forbidden: unable to validate against any pod security policy: [spec.volumes[1]: Invalid value: "hostPath": hostPath volumes are not allowed to be used]" , But I user yaml for k8s (apiVersion: batch/v1 ; kind: Job) , used kubct

[2021-09-03 06:38] nowenL opened #662 "all GPUs in host are visible to job submit with '--gpus=0'"
### Env

arena version: v0.8.6+a2bec8c

k8s server version: {Major:"1", Minor:"20+", GitVersion:"v1.20.4-aliyun.1", GitCommit:"7a23884", GitTreeState:"", BuildDate:"2021-05-31T13:47:24Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

### Problem

1. submit a tfjob using a docker image set NVIDIA_VISIBLE_DEVICES=all and flag '--gpus=0':

[code]

2. attach to the job and run nvidia-s

[2021-09-22 04:07] cheyang commented on #662
/assign @happy2048

[2021-09-22 06:44] cheyang commented on #658
Could you upgrade to the latest version? thanks.

[2021-09-22 12:06] gooddayforever opened #677 "arena command line contains a comma, the content after the comma will be lost"
arena version: latest
k8s version:  latest

for example:

submit a tfjob like this
 `arena submit tf --env=GIT_SYNC_PASSWORD=abc,def --env= *****`

the yaml in k8s looks like this

[code]
the ",def" is lost

[2021-09-23 14:14] wsxiaozhang commented on #662
@nowenL
basically, we can think of '--gpus=0' as a flag to let arena not attach gpu device into job containers explicitly. however, that might be a different semantic from the job without any gpus parameters specified, although both mean run job with cpu only.

2 quick questions to confirm:
1.  what's the expected behavior, when you use --gpus=0? do you mean you just want to run this job without g

[2021-09-24 08:11] nowenL commented on #662
@wsxiaozhang
Thanks for the reply. To answer you questions:

As mentioned above, `expect no gpu is visible to the job`. And yes, I want to run job without gpu.

It's a minimal example to reproduce the issue. This may happen in practice as well, for example, users reuse their GPU base image for CPU training workload. Anyway, the root cause is 'NVIDIA_VISIBLE_DEVICES=all' and cuda image is just one

[2021-09-27 11:38] wsxiaozhang commented on #662
@nowenL got your points now, that's fair.
the coming release will fix this by overwriting NVIDIA_VISIBLE_DEVICES with value of 'void', which also disable NVIDIA_DRIVER_CAPABILITIES. It that way, as long as you specify --gpus=0 or --worker_gpus=0, arena will disable gpu mounting accordingly.

[2021-09-28 03:52] 2sin18 commented on #547
https://github.com/kubeflow/arena/blob/master/charts/pytorchjob/templates/pytorchjob.yaml#L29 Maybe changing this line to `OnFailure` can help resolving this issue?

[2021-10-07 01:14] Jeffwan opened #686 "Bump mpi-operator dependency"
Hi Arena team,

WG-training plans to merge all operators into one. Currently, 1.3.0 has been officially released https://github.com/kubeflow/training-operator/releases/tag/v1.3.0.  The only left over is mpi-operator  https://github.com/kubeflow/training-operator/issues/1345

We plan to move v1 and v2beta1 mpi to universal training operator soon. At the same time,  v1alpha1 will be retired.  https:

[2021-10-25 11:33] queguan opened #693 "Does arena support pull private registry ，how can I do that ?"
Does arena support pull private registry ，how can I do that ?  thanks for reply.

[2021-10-26 04:03] #693 closed, assigned to nobody

[2021-10-27 12:37] queguan opened #698 "submit pytorchjob auto delete Succeeded pod"
hello,  I use arena 0.5 for test.  After the pytorch task is submitted，then created pod run more than ten when they completed  , will deleted automatic .   how can I do ?  I want reserve more  completed pod . thanks for you reply.

[2021-10-29 03:50] #698 closed, assigned to nobody

[2021-10-29 03:53] denkensk opened #699 "Support kube-queue in arena"
kube-queue https://github.com/kube-queue/kube-queue
/assign

- [ ] add queue flag in arena https://github.com/kubeflow/arena/pull/708
- [ ] update pytorch-operator artifacts to support job level annotation
- [ ] add doc for queue

[2021-11-03 08:55] heluocs opened #702 "Support torchserve in arena"
torchserve:  https://github.com/pytorch/serve

[2021-12-11 06:33] cheyang opened #722 "clean pod"

[2022-01-11 08:30] tzstoyanov opened #736 "helm 3+ support"
I have problems running arena with the latest helm v3.5.2:
`Error: unknown flag: --name`
`ERRO[0000] Failed to execute /usr/local/bin/arena-helm, [/usr/local/bin/arena-helm template -f /tmp/values002311273 --namespace default --name tf-standalone-test-with-git /charts/tfjob > /tmp/tf-standalone-test-with-git.yaml729397940] with exit status 1 `

I have helm installed on my system and just did a sym

[2022-01-11 08:35] happy2048 commented on #736
do it in the next month

[2022-03-14 02:33] happy2048 commented on #736
helm has been upgraded to v3

[2022-03-15 01:47] #736 closed

[2022-07-04 09:14] guoziyi-study opened #814 "小白使用arena相关问题"
1.在集群环境，怎么保证arena高可用？比如说一个master节点挂了，arena是否可用？
2.arena的底层是不是通过command命令，kubectl create -f aa.yml来创建训练任务的？
3.把arena打成镜像怎么起起来？起来后怎么去用？

[2022-07-04 09:25] guoziyi-study commented on #29
集群环境怎么搞呢？怎么保证高可用？

[2022-07-07 03:44] guoziyi-study opened #816 "arena-sdk是否支持操作任何自定义资源？"
因为我看到代码中的allTraingJob指的也是上面的7种类型，那如果是之外的自定义资源，比如notebook的，是否可以查询到或者创建等操作？

[2022-07-11 11:12] guoziyi-study opened #817 "java-sdk代码不全吗？"
java-sdk是否有完整的代码和go-sdk一样支持那么多的训练任务？

[2022-10-24 09:13] happy2048 opened #856 "arena get should display user"
arena get command should display user name,like:

# arena get elastic-training

Name:      elastic-training
Status:    SUCCEEDED
Namespace: default
Priority:  N/A
Trainer:   ETJOB
Duration:  10d
Uid: xxxxxxxxxxxxx
ConsoleUser: xxxxxxxxx

Instances:
  NAME                       STATUS     AGE  IS_CHIEF  GPU(Requested)  NODE
  ----                       ------     ---  --------  --------------  ----

[2022-11-16 08:55] ereil opened #868 "problem to install arena on microk8s Ubuntu 20.04 - 22.04"
Hi,
we have been working with arena on microk8s with Ubuntu 18.04 long time succesfully.
But since Ubuntu 20.04 and 22.04 (and a lot of different microk8s versions) we did not get arena working.

error message when run arena install.sh is
ERROR  failed to execute 'arena-kubectl cluster-info'
ERROR  Please setup kubeconfig correctly before installing arena

But when manually execute arena-kubectl c